@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    main {
        @apply pb-[200px] md:pb-[426px] xl:pb-[360px]  mt-6 md:mt-16 xl:mt-36
    }

    .contact-page-input {
        @apply border-2 border-primary focus:border-primary-dark2 bg-primary/[.06] focus:bg-primary-dark2/[.06]  font-jose-600-it text-[9px] md:text-sm leading-[9px] xl:leading-4 pl-[10px] md:pl-5 my-1 md:my-[6px]
    }

    .desktop-footer-headings {
        @apply font-unna-400-it text-[27px]
    }

    .desktop-footer-items {
        @apply font-jose-400-it text-base py-[6px]
    }

    .desktop-footer-navs {
        @apply flex flex-col mx-auto
    }

    .glenn-page-quotes {
        @apply font-unna-700-it text-[17px] md:text-[29px] md:leading-8 text-center w-[70%] md:w-full m-auto mb-5 md:mb-7 mt-10 md:mt-[60px]
    }

    .glenn-page-quotes-author {
        @apply font-jose-300-it text-[13px] md:text-[19px] text-center w-[70%] m-auto
    }

    .glenn-page-headings {
        @apply font-unna-700-it text-xl md:text-[25px] mt-10 md:mt-[60px] mb-3 md:w-[70%] 
    }

    .glenn-page-p-div {
        @apply md:w-4/5 m-auto md:leading-5
    }

 

    .mobile-menu-rectangle {
        @apply w-5 h-[1.5px] bg-white rounded-sm m-[2px]
    }

    .mobile-footer-btns {
        @apply w-[134px] h-8 border-[1px] border-white rounded-full text-center text-[17px] pt-0.5 mb-1 mt-4 hover:bg-white hover:text-primary select-none;
    }

    .our-team-photo-div {
        @apply relative flex flex-col items-center justify-end w-[156px] h-[156px]
    }

    .our-team-photo {
        @apply absolute w-full h-full z-0
    }

    .our-team-photo-layer {
        @apply z-50 bg-primary/60 w-full h-1/3  flex flex-col items-center justify-center gap-1
    }

    .who-we-are-card-p {
        @apply font-jose-600 text-[15px] leading-[15px] text-primary-dark2/60 mt-3
    }

    .who-we-are-card-span {
        @apply font-jose-600 text-[15px] leading-[15px] text-primary-dark2
    }
    
}

body {
    position: relative;
    min-height: 100vh;
}

:root {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

h1 {
    user-select: none;
}

input::placeholder {
    color: rgba(38, 71, 108, 1);
}

input:focus {
    outline: none;
}

textarea::placeholder {
    color: rgba(38, 71, 108, 1);
}

textarea:focus {
    outline: none;
}

#body-newsletter-input::placeholder {
    color: white;
}

.font-jose-200 {
    font-family: 'Josefin Sans';
    font-weight: 200;
}

.font-jose-300 {
    font-family: 'Josefin Sans';
    font-weight: 300;
}

.font-jose-300-it {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-style: italic;
}

.font-jose-400 {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.font-jose-400-it {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-style: italic;
}

.font-jose-600 {
    font-family: 'Josefin Sans';
    font-weight: 600;
}

.font-jose-600-it {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-style: italic;
}

.font-jose-700 {
    font-family: 'Josefin Sans';
    font-weight: 700;
}

.font-unna-400-it {
    font-family: 'Unna';
    font-weight: 400;
    font-style: italic;
}

.font-unna-700 {
    font-family: 'Unna';
    font-weight: 700;
}

.font-unna-700-it {
    font-family: 'Unna';
    font-weight: 700;
    font-style: italic;
}

.font-nunito-400 {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 25px;
}

.publications-blu-div {
    background: #399AC299;
}
